{% extends "base.html" %}

{% block content %}

<style>
  .zet-gallery {
    display: flex;
    justify-content: space-between;
  }

  .zet-card {
    background-color: darkcyan;
    width: 256px;
    border-radius: 8px;
    padding: 8px 16px 16px;
    margin: 8px;
  }
</style>

{{ zet.cards }}

<div class="zet-gallery">
{% for card in zet.cards %}
  <div class="zet-card">
    <strong>{{ card.title }}</strong>
    <br/>
    {{ card.description }}
  </div>
{% endfor %}
</div>

{{ super() }}

{% endblock %}
